In [2]:
data = pd.read_csv('Learning_Intern_Raw_Data.csv', sep=',')
data

,user_id,gender,age_range,phone,state,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,NaN,NaN
1,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
2,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
4,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65528,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #5,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65530,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #6,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [1]:
import pandas as pd
import numpy as np

In [2]:
pip show pandas

Note: you may need to restart the kernel to use updated packages.

WARNING: Package(s) not found: pandas

In [5]:
for d in data.columns:
    if 'gender' 'age_range' 'assignment type' 'phone' 'state' not in d:
        print(d)

user_id
gender
age_range
phone
state
program
assignment_name
assignment_type
assignment_score
has_logged_into_lms
Is assignment resubmitted
learner_deferred
learner_dropped_off
overall_score
graduated

In [ ]:
data = data[['user_id', 'program', 'assignment_name','assignment_score', 'has_logged_into_lms', 'Is assignment resubmitted', 'learner_deferred', 'learner_dropped_off', 'overall_score', 'graduated']]

In [8]:
data

,user_id,program,assignment_name,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #1,100.00,Yes,No,No,NaN,NaN,NaN
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,95.23,Yes,No,No,NaN,NaN,NaN
2,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #2,94.55,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,90.90,Yes,No,No,NaN,NaN,NaN
4,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #3,100.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
65528,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Milestone #5,100.00,Yes,No,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #5,100.00,Yes,Yes,No,NaN,NaN,NaN
65530,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Milestone #6,100.00,Yes,No,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #6,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,AiCE Final Grace Period Test,0.00,Yes,No,No,NaN,NaN,NaN