In [10]:
data = pd.read_csv('Learning_Intern_Raw_Data.csv', sep=',')
data

,user_id,gender,age_range,phone,state,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,NaN,NaN
1,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
2,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
4,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65528,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #5,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65530,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #6,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Drop unnecessary columns
df = data[['user_id', 'program', 'assignment_name', 'assignment_type', 'assignment_score', 'has_logged_into_lms', 'Is assignment resubmitted', 'learner_deferred', 'learner_dropped_off', 'overall_score', 'graduated']]

In [ ]:
# Filter only 'test' assignment types
test_scores = df[df['assignment_type'] == 'test']
test_scores

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,NaN,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
65525,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
65527,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #4,test,80.95,Yes,Yes,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [14]:

# Compute average test score per user
overall_scores = test_scores.groupby('user_id')['assignment_score'].mean()

# Merge computed scores back into the original DataFrame
df.loc[:, 'overall_score'] = df['user_id'].map(overall_scores)

# Save the updated file
df.to_excel("Updated_Learning_Intern.xlsx", index=False)

print("Overall scores updated successfully!")

Overall scores updated successfully!

In [16]:
df.head(15)

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,40.875714,NaN
2,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,40.875714,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,40.875714,NaN
4,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,40.875714,NaN
6,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #4,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,40.875714,NaN
8,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #5,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,40.875714,NaN
10,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #6,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
11,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #6,test,0.00,Yes,No,No,NaN,40.875714,NaN
12,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,40.875714,NaN
13,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #1,milestone,0.00,Yes,No,No,NaN,90.247143,NaN
14,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #1,test,100.00,Yes,No,No,NaN,90.247143,NaN

In [22]:
# Define the required milestone names
required_milestones = {"Milestone #1", "Milestone #2", "Milestone #3"}

# Identify users who have submitted all three required milestones
milestone_count = df[df['assignment_name'].isin(required_milestones)].groupby('user_id')['assignment_name'].nunique()

# Get users who have submitted all three milestones
#submitted_all = milestone_count[milestone_count == 3].index

# Mark dropped users (1 = dropped, 0 = not dropped)
#df.loc[:, 'learner_dropped_off'] = df['user_id'].apply(lambda x: 0 if x in submitted_all else 1)

# Save the updated DataFrame
#df.to_csv("updated_data.csv", index=False)

#print("Learners who didn't submit all milestones have been marked successfully!")

In [25]:
milestone_count.head(30)

user_id
0034a903-0652-77b3-9c70-82b91a    3
005a2866-1063-8f09-bf83-1cb6f4    3
005b9685-1114-e183-1b69-45964c    3
005d3e80-f153-c133-8dea-4e5b66    3
005f8882-251f-a015-ff42-c8e80c    3
0065897d-5ddf-d164-00c2-550e2e    3
006dd72c-cca9-6d4b-c4e3-8a1fa1    3
0084d940-dfcd-9b12-caf1-f97717    3
00990837-aa40-e32e-1ae1-07e04c    3
00a5a86d-343d-3a27-e9ab-be6f4f    3
00b795d6-f7b8-7904-f685-bef7d7    3
00d56c28-1c61-e176-fbd4-6acbac    3
00f46499-ad02-18ae-e634-9b5613    3
00fd6e8f-8ace-3e32-1b47-d9d0ed    3
011efd57-be84-24e9-8cbf-407d30    3
012a5010-4041-71ac-c5f3-ec0ced    3
0130e46f-a312-f5f6-ed88-fdbe87    3
014c1879-2025-1109-297f-57e7d8    3
014c4964-f107-a2b8-4322-e97bec    3
015c13b4-2e75-b42f-e756-80426e    3
01695c10-c70c-9ad3-c211-573a88    3
016eb9da-f9d5-052d-2b7a-b0268d    3
018cd55c-7f76-3d8d-bb30-921bea    3
019fe0fc-c55c-1481-1170-ea7bb2    3
01a42f8b-e640-eb7e-49f3-470827    3
01ae2569-1790-51a1-4f47-0e7e2b    3
01bfc37e-a357-fc18-ffa0-bbec1a    3
01c11a68-ff1f-6660-60d7-4788b4    3
01c18717-c32e-4587-fb25-439a0b    3
01c6cef4-187b-9d11-efa8-d6fdbb    3
Name: assignment_name, dtype: int64

In [21]:
df.head(30)

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,0,40.875714,NaN
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,0,40.875714,NaN
2,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,0,40.875714,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,0,40.875714,NaN
4,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,0,40.875714,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,0,40.875714,NaN
6,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #4,milestone,0.00,Yes,No,No,0,40.875714,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,0,40.875714,NaN
8,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #5,milestone,0.00,Yes,No,No,0,40.875714,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,0,40.875714,NaN
10,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #6,milestone,0.00,Yes,No,No,0,40.875714,NaN
11,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #6,test,0.00,Yes,No,No,0,40.875714,NaN
12,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,AiCE Final Grace Period Test,test,0.00,Yes,No,No,0,40.875714,NaN
13,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #1,milestone,0.00,Yes,No,No,0,90.247143,NaN
14,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #1,test,100.00,Yes,No,No,0,90.247143,NaN
15,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #2,milestone,50.00,Yes,Yes,No,0,90.247143,NaN
16,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #2,test,86.36,Yes,No,No,0,90.247143,NaN
17,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #3,milestone,100.00,Yes,Yes,No,0,90.247143,NaN
18,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #3,test,85.00,Yes,Yes,No,0,90.247143,NaN
19,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #4,milestone,89.03,Yes,No,No,0,90.247143,NaN
20,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #4,test,88.09,Yes,Yes,No,0,90.247143,NaN
21,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #5,milestone,100.00,Yes,No,No,0,90.247143,NaN
22,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #5,test,90.47,Yes,Yes,No,0,90.247143,NaN
23,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #6,milestone,0.00,Yes,Yes,No,0,90.247143,NaN
24,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #6,test,81.81,Yes,Yes,No,0,90.247143,NaN
25,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,AiCE Final Grace Period Test,test,100.00,Yes,Yes,No,0,90.247143,NaN
26,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Milestone #1,milestone,0.00,Yes,No,No,0,0.000000,NaN
27,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Weekly Test #1,test,0.00,Yes,No,No,0,0.000000,NaN
28,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Milestone #2,milestone,0.00,Yes,No,No,0,0.000000,NaN
29,87aa7e85-13eb-6db7-ab7f-f340ce,Data Science,Weekly Test #2,test,0.00,Yes,No,No,0,0.000000,NaN