In [10]:
data = pd.read_csv('Learning_Intern_Raw_Data.csv', sep=',')
data

,user_id,gender,age_range,phone,state,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,NaN,NaN
1,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
2,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
4,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65528,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #5,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65530,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #6,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [1]:
import pandas as pd
import numpy as np

In [2]:
pip show pandas

Note: you may need to restart the kernel to use updated packages.

WARNING: Package(s) not found: pandas

In [11]:
df = data[['user_id', 'program', 'assignment_name', 'assignment_type', 'assignment_score', 'has_logged_into_lms', 'Is assignment resubmitted', 'learner_deferred', 'learner_dropped_off', 'overall_score', 'graduated']]

In [ ]:
# Filter only 'test' assignment types
test_scores = df[df['assignment_type'] == 'test']
test_scores

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,NaN,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
65525,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
65527,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #4,test,80.95,Yes,Yes,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [14]:

# Compute average test score per user
overall_scores = test_scores.groupby('user_id')['assignment_score'].mean()

# Merge computed scores back into the original DataFrame
df.loc[:, 'overall_score'] = df['user_id'].map(overall_scores)

# Save the updated file
df.to_excel("Updated_Learning_Intern.xlsx", index=False)

print("Overall scores updated successfully!")

Overall scores updated successfully!

In [16]:
df.head(15)

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,40.875714,NaN
2,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,40.875714,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,40.875714,NaN
4,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,40.875714,NaN
6,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #4,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,40.875714,NaN
8,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #5,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,40.875714,NaN
10,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #6,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
11,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #6,test,0.00,Yes,No,No,NaN,40.875714,NaN
12,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,40.875714,NaN
13,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #1,milestone,0.00,Yes,No,No,NaN,90.247143,NaN
14,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #1,test,100.00,Yes,No,No,NaN,90.247143,NaN

In [ ]:
# Ensure milestone names are standardized
milestone_names = ["Milestone 1", "Milestone 2", "Milestone 3"]

# Find users who submitted at least one of Milestones 1-3
submitted_milestones = df[df['assignment_name'].isin(milestone_names)]['user_id'].unique()

# Identify users who did NOT submit any of these milestones
all_users = df['user_id'].unique()
dropped_users = set(all_users) - set(submitted_milestones)

# Create a new column and mark dropped users
df['learner_dropped_off'] = df['user_id'].apply(lambda x: 1 if x in dropped_users else 0)

# Save the updated DataFrame
df.to_csv("updated_data.csv", index=False)

print("Learner drop-off status updated successfully!")