In [ ]:
# Read data
data = pd.read_csv('Learning_Intern_Raw_Data.csv', sep=',')
data

,user_id,gender,age_range,phone,state,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,NaN,NaN
1,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
2,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
4,6531ed09-304e-9573-a9c2-54e917,FEMALE,25-29,"[""23409089964086""]",Lagos,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65528,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #5,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65530,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Milestone #6,milestone,100.00,Yes,No,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,FEMALE,30-34,"[""23408067849026""]",Lagos,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Drop unnecessary columns
df = data[['user_id', 'program', 'assignment_name', 'assignment_type', 'assignment_score', 'has_logged_into_lms', 'Is assignment resubmitted', 'learner_deferred', 'learner_dropped_off', 'overall_score', 'graduated']]

In [ ]:
# Filter only 'test' assignment types for overall_score
test_scores = df[df['assignment_type'] == 'test']
test_scores

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,NaN,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,NaN,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,NaN,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
65525,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #3,test,100.00,Yes,No,No,NaN,NaN,NaN
65527,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #4,test,80.95,Yes,Yes,No,NaN,NaN,NaN
65529,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #5,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65531,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,Weekly Test #6,test,100.00,Yes,Yes,No,NaN,NaN,NaN
65532,95539e11-a210-2b56-d5a4-a1b85f,AI Career Essentials,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,NaN,NaN

In [14]:

# Compute average test score per user
overall_scores = test_scores.groupby('user_id')['assignment_score'].mean()

# Merge computed scores back into the original DataFrame
df.loc[:, 'overall_score'] = df['user_id'].map(overall_scores)

# Save the updated file
df.to_excel("Updated_Learning_Intern.xlsx", index=False)

print("Overall scores updated successfully!")

Overall scores updated successfully!

In [16]:
df.head(15)

,user_id,program,assignment_name,assignment_type,assignment_score,has_logged_into_lms,Is assignment resubmitted,learner_deferred,learner_dropped_off,overall_score,graduated
0,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #1,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
1,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #1,test,95.23,Yes,No,No,NaN,40.875714,NaN
2,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #2,milestone,94.55,Yes,No,No,NaN,40.875714,NaN
3,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #2,test,90.90,Yes,No,No,NaN,40.875714,NaN
4,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #3,milestone,100.00,Yes,No,No,NaN,40.875714,NaN
5,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #3,test,100.00,Yes,No,No,NaN,40.875714,NaN
6,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #4,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
7,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #4,test,0.00,Yes,No,No,NaN,40.875714,NaN
8,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #5,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
9,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #5,test,0.00,Yes,No,No,NaN,40.875714,NaN
10,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Milestone #6,milestone,0.00,Yes,No,No,NaN,40.875714,NaN
11,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,Weekly Test #6,test,0.00,Yes,No,No,NaN,40.875714,NaN
12,6531ed09-304e-9573-a9c2-54e917,Cloud Computing,AiCE Final Grace Period Test,test,0.00,Yes,No,No,NaN,40.875714,NaN
13,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Milestone #1,milestone,0.00,Yes,No,No,NaN,90.247143,NaN
14,aa6483d4-3df2-4a28-6598-1fa473,Data Analytics,Weekly Test #1,test,100.00,Yes,No,No,NaN,90.247143,NaN

In [ ]:
# Define the required milestones for Learner_drop_off
required_milestones = {"Milestone #1", "Milestone #2", "Milestone #3"}

# Filter only required milestones
milestone_scores = df[df['assignment_name'].isin(required_milestones)][['user_id', 'assignment_name', 'assignment_score']]

# Convert scores to numeric (in case they are stored as strings)
milestone_scores['assignment_score'] = pd.to_numeric(milestone_scores['assignment_score'], errors='coerce')

# Identify users who have **all three** milestones with a score greater than 0
valid_users = (
    milestone_scores.groupby('user_id')
    .apply(lambda x: all(x.set_index('assignment_name').loc[list(required_milestones), 'assignment_score'] > 0))
    .reset_index()
)

C:\Users\DELL\AppData\Local\Temp\ipykernel_11800\2800886042.py:13: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: all(x.set_index('assignment_name').loc[list(required_milestones), 'assignment_score'] > 0))

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65533 entries, 0 to 65532
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   user_id                    65533 non-null  object
 1   program                    65533 non-null  object
 2   assignment_name            65533 non-null  object
 3   assignment_type            65533 non-null  object
 4   assignment_score           65533 non-null  float64
 5   has_logged_into_lms        65533 non-null  object
 6   Is assignment resubmitted  65533 non-null  object
 7   learner_deferred           65533 non-null  object
 8   learner_dropped_off        65533 non-null  int64
 9   overall_score              65533 non-null  float64
 10  graduated                  0 non-null      float64
dtypes: float64(3), int64(1), object(7)
memory usage: 5.5+ MB

In [32]:
# Get user IDs who submitted valid milestones
submitted_all = valid_users[valid_users[0]]['user_id']

# Assign learner_dropped_off: 1 (Dropped Off), 0 (Stayed)
df.loc[:, 'learner_dropped_off'] = df['user_id'].apply(lambda x: 0 if x in submitted_all.values else 1)

# Validation Step: Count dropped users
dropped_count = int(df['learner_dropped_off'].sum()/13)
total_users = df['user_id'].nunique()
print(f"Total Learners: {total_users}")
print(f"Learners Dropped Off: {dropped_count}")
print(f"Learners Remaining: {total_users - dropped_count}")

# Save the updated DataFrame
df.to_csv("updated_data.csv", index=False)

print("Users who didn't submit valid milestone scores have been marked as dropped off successfully!")

Total Learners: 5041
Learners Dropped Off: 3079
Learners Remaining: 1962
Users who didn't submit valid milestone scores have been marked as dropped off successfully!

In [ ]:
# Define the required milestones to graduate
reqd_milestones = ["Milestone #1", "Milestone #2", "Milestone #3", "Milestone #4", "Milestone #5"]

# Filter only required milestones
mile_scores = df[df['assignment_name'].isin(reqd_milestones)][['user_id', 'assignment_name', 'assignment_score']]

# Drop rows where assignment_score is 0.00
mile_scores = mile_scores[mile_scores["assignment_score"] > 0]

In [65]:
# Pivot table to ensure each user has all 5 milestones
milestone_pivot = mile_scores.pivot(index="user_id", columns="assignment_name", values="assignment_score")

# Check if each user has ALL Milestones (#1 to #5)
users_with_5_milestones = milestone_pivot[reqd_milestones].gt(0).all(axis=1)

# Convert to "Yes" (Eligible) / "No" (Dropped)
users_graduation_status = users_with_5_milestones.map({True: "Yes", False: "No"})  # Series indexed by user_id

# Output Results
users_graduation_status

user_id
0034a903-0652-77b3-9c70-82b91a     No
005b9685-1114-e183-1b69-45964c     No
005d3e80-f153-c133-8dea-4e5b66    Yes
0065897d-5ddf-d164-00c2-550e2e     No
00a5a86d-343d-3a27-e9ab-be6f4f     No
                                 ...
ffbaaeb2-ab3c-03d3-a765-b5d611    Yes
ffd40f70-6761-dabd-b0b7-2c486c     No
ffd68c7b-8edc-9e0b-45f6-168767    Yes
fff8b323-3e76-e67d-cf1f-8390fb     No
fff94200-23ac-3b93-fca0-178543    Yes
Length: 2540, dtype: object

In [67]:
# Extract test data
tests = df[df['assignment_name'].str.contains("Weekly Test #", na=False)]

# Ensure users have an average test score â‰¥ 75%
test_scores = tests.pivot(index='user_id', columns='assignment_name', values='assignment_score').fillna(0)
test_avg = test_scores.mean(axis=1)  # Compute average score
test_criteria = test_avg >= 75  # True if average test score is at least 75%

In [70]:
test_criteria

user_id
0034a903-0652-77b3-9c70-82b91a    False
005a2866-1063-8f09-bf83-1cb6f4    False
005b9685-1114-e183-1b69-45964c    False
005d3e80-f153-c133-8dea-4e5b66     True
005f8882-251f-a015-ff42-c8e80c    False
                                  ...
ffc80062-9d1b-3d92-6647-d46d08    False
ffd40f70-6761-dabd-b0b7-2c486c    False
ffd68c7b-8edc-9e0b-45f6-168767     True
fff8b323-3e76-e67d-cf1f-8390fb    False
fff94200-23ac-3b93-fca0-178543     True
Length: 5041, dtype: bool

In [ ]:
# Apply both conditions to determine valid graduates
graduation_status = (users_with_5_milestones & test_criteria).astype(int)

# Assign graduation status to the original DataFrame
df['graduated'] = df['user_id'].map(graduation_status).fillna(0).astype(int)

# Filter only valid graduates
valid_graduates = df[df['graduated'] == 1]

# Display the filtered valid graduates
print(valid_graduates)

                              user_id               program  \
39     02f0e023-398a-93e5-217e-5448f0  Software Engineering
40     02f0e023-398a-93e5-217e-5448f0  Software Engineering
41     02f0e023-398a-93e5-217e-5448f0  Software Engineering
42     02f0e023-398a-93e5-217e-5448f0  Software Engineering
43     02f0e023-398a-93e5-217e-5448f0  Software Engineering
...                               ...                   ...
65528  95539e11-a210-2b56-d5a4-a1b85f  AI Career Essentials
65529  95539e11-a210-2b56-d5a4-a1b85f  AI Career Essentials
65530  95539e11-a210-2b56-d5a4-a1b85f  AI Career Essentials
65531  95539e11-a210-2b56-d5a4-a1b85f  AI Career Essentials
65532  95539e11-a210-2b56-d5a4-a1b85f  AI Career Essentials

                    assignment_name assignment_type  assignment_score  \
39                     Milestone #1       milestone             96.55
40                   Weekly Test #1            test             95.23
41                     Milestone #2       milestone            100.00
42                   Weekly Test #2            test             95.45
43                     Milestone #3       milestone            100.00
...                             ...             ...               ...
65528                  Milestone #5       milestone            100.00
65529                Weekly Test #5            test            100.00
65530                  Milestone #6       milestone            100.00
65531                Weekly Test #6            test            100.00
65532  AiCE Final Grace Period Test            test              0.00

      has_logged_into_lms Is assignment resubmitted learner_deferred  \
39                    Yes                        No               No
40                    Yes                        No               No
41                    Yes                        No               No
42                    Yes                        No               No
43                    Yes                        No               No
...                   ...                       ...              ...
65528                 Yes                        No               No
65529                 Yes                       Yes               No
65530                 Yes                        No               No
65531                 Yes                       Yes               No
65532                 Yes                        No               No

       learner_dropped_off  overall_score  graduated users_graduation_status
39                       0      78.897143          1                     NaN
40                       0      78.897143          1                     NaN
41                       0      78.897143          1                     NaN
42                       0      78.897143          1                     NaN
43                       0      78.897143          1                     NaN
...                    ...            ...        ...                     ...
65528                    0      81.692857          1                     NaN
65529                    0      81.692857          1                     NaN
65530                    0      81.692857          1                     NaN
65531                    0      81.692857          1                     NaN
65532                    0      81.692857          1                     NaN

[22256 rows x 12 columns]

C:\Users\DELL\AppData\Local\Temp\ipykernel_11800\2892095581.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['graduated'] = df['user_id'].map(graduation_status).fillna(0).astype(int)

In [42]:
# Remove deferred users
df_f = df[df["learner_deferred"] != "Yes"]

# Save the cleaned data
df_f.to_excel("cleaned_dataset.xlsx", index=False)

print("Deferred users removed. Cleaned dataset saved.")

Deferred users removed. Cleaned dataset saved.

In [47]:
# Ensure user-level filtering (not row-based counting)
df_filtered = df.groupby("user_id").filter(
    lambda x: (
        (x["assignment_name"].str.contains("Milestone")).sum() >= 5 and
        (x["assignment_name"].str.contains("Test")).sum() >= 6 and
        (x["assignment_score"].astype(float).mean() >= 75)
    )
)

# Mark unique users as graduated
graduated_users = df_filtered["user_id"].unique()
df["graduated"] = df["user_id"].apply(lambda x: "Yes" if x in graduated_users else "No")

# Count unique graduates
num_graduated = df["user_id"][df["graduated"] == "Yes"].nunique()
print(f"Total number of users who graduated: {num_graduated}")

Total number of users who graduated: 1813

C:\Users\DELL\AppData\Local\Temp\ipykernel_11800\433421433.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["graduated"] = df["user_id"].apply(lambda x: "Yes" if x in graduated_users else "No")

In [36]:
# Save the updated dataset
df.to_excel("updated_dataset.xlsx", index=False)

print("Graduation status updated and saved.")

Graduation status updated and saved.

In [38]:
# Count the number of users who graduated
num_graduated = int(df["graduated"].value_counts().get("Yes", 0)/13)

print(f"Total number of users who graduated: {num_graduated}")

Total number of users who graduated: 2019